{{!-- Site search --}}
<div class="it-search">
        <div class="it-search-close">{{> icons/cancel}}</div>
    <form action="/" method="get" class="it-search-form">
        <input type="text" id="search-field" class="search-input " placeholder="{{t "Search"}}">
        <button class="search-icon" type="submit" value="search">
            {{> icons/search}}
        </button>
    </form>
    <div class="it-search-results" id="results"></div>
</div>