{{#if @labs.members}}
<div class="it-subscribe-section">
	<div class="it-subscribe-content">
		<h2 class="it-subscribe-title">Subscribe to {{@site.title}}</h2>
		<p class="it-subscribe-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
		<form data-members-form="subscribe" class="subscribe-form">
			<div class="input-wrapper">
				<input type="email" class="subscribe-form-input" placeholder="Email" data-members-email="">
				<button type="submit" class="subscribe-form-button">Subscribe</button>
			</div>
			<div class="message-success">Please check your inbox and click the link to confirm your subscription.</div>
			<div class="message-error">An error occurred, please try again later.</div>
		</form>
	</div>
</div>
{{/if}}