{{!< default}}

<div class="it-page">
    <div class="it-container">
        <div class="it-postfeed it-grid-c3">
            {{> "loop"}} {{!-- partials/loop.hbs --}}
        </div>
        {{pagination}} {{!-- partials/pagination.hbs --}}
        {{> "popular-tags"}} {{!-- partials/popular-tags.hbs --}}
    </div>
</div>
