{{!< default}}

<div class="it-page">
    <div class="it-container">

        {{> "featured"}} {{!-- partials/featured.hbs --}}
        <div class="it-postfeed">
            {{> "loop"}} {{!-- partials/loop.hbs --}}
        </div>
        
        {{pagination}} {{!-- partials/pagination.hbs --}}
        
        {{> "popular-tags"}}

    </div>
</div>
