{{!< default}}

{{#post}}
<article class="it-article {{post_class}}">
    {{#match @page.show_title_and_feature_image}}
    <header class="it-header it-canvas">
        {{#if feature_image}}
            <figure class="it-feature-image-wrapper">
                 {{>image picture_type="post" card=false}}
            </figure>
        {{/if}}
        <h1 class="it-title">{{title}}</h1>
        {{#if custom_excerpt}}
            <p class="it-excerpt">{{custom_excerpt}}</p>
        {{/if}}
    </header>
    {{/match}}
    <div class="it-content it-canvas">
        {{content}}
    </div>
</article>
{{/post}}
