{{#if @labs.members}}
	{{^has visibility="public"}}
		<span class="it-member-label">
			{{#has visibility="paid"}}
				{{t "Premium"}}
			{{/has}}
			{{#has visibility="members"}}
				{{t "Members"}}
			{{/has}}
		</span>
	{{/has}}
{{/if}}