/* Forms
/* ---------------------------------------------------------- */
.it-label {
    margin-bottom: 2vmin;
}
.it-input,
.it-textarea {
    background: var(--color-bg);
    border-radius: var(--radius);
    border: none;
    border: solid 1px var(--color-border);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 0.6em;
    text-decoration: none;
    width: 100%;
}

.it-input:focus {
    border-color: var(--color-primary);
}

.it-select {
    height: var(--height);
    padding-right: var(--height);
    text-overflow: ellipsis;
}

.it-select option {
    color: var(--color-primary);
    background: var(--color-bg);
}

.it-select:focus::-ms-value {
    background-color: transparent;
}

.it-select::-ms-expand {
    display: none;
}

.it-input,
.it-select {
    height: var(--height);
}

.it-textarea {
    padding: 0.3em 0.6em;
    resize: vertical;
}

.it-check {
    display: block;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

.it-check + label,
.it-check + label {
    display: flex;
    align-items: center;
    color: var(--color-base);
    cursor: pointer;
    font-size: 1em;
    font-weight: var(--font-normal);
    padding-left: calc((var(--height) * 0.6) + 0.75em);
    padding-right: 2rem;
    position: relative;
    user-select: none;
}

.it-check + label:before,
.it-check + label:before {
    background: var(--color-bg);
    border-radius: var(--radius);
    border: solid 1px var(--color-border);
    content: '';
    display: inline-block;
    height: calc(var(--height) * 0.6);
    line-height: calc(var(--height) * 0.56);
    text-align: center;
    width: calc(var(--height) * 0.6);
    margin-right: 1rem;
}

.it-check:checked + label:before,
.it-check:checked + label:before {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-bg);
    content: '✓';
}

.it-check:focus + label:before,
.it-check:focus + label:before {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
}


.it-check + label:before {
    border-radius: var(--radius);
}

.it-check + label:before {
    border-radius: 100%;
}
/* subscription form */

.it-subscribe-content {
    background: #fff;
    padding: 2vmin;
    color: #666;
    border-radius: 7px;
    box-shadow: 5px 5px 6px -1px var(--color-border);
    margin-top: 2rem;
}
.it-subscribe-title {
    font-size: 1.7rem;
}
.it-subscribe-description {
    margin-bottom: 2em;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 1em;
}
.input-wrapper {
    display: flex;
    flex-direction: row;
}
.subscribe-form-input {
    outline: 0;
    box-shadow: 0 0 0 0;
    border: 1px solid #e1edf4;
    padding: .5rem;
    flex: 1;
}
.subscribe-form-button {
    background: var(--color-primary);
    border: 1px solid transparent;
    padding: .5rem 1rem;
    color: #fff;
    margin-left: -4px;
}