/* Buttons
/* ---------------------------------------------------------- */

.it-button {
    display: inline-block;
    min-width: 75px;
    height: var(--height);
    padding: 0 2rem;
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;
    font-family: var(--font-sans-serif);
    font-size: 1.4rem;
    font-weight: var(--font-normal);
    line-height: var(--height);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    appearance: none;
    transition: 0.4s ease;
}

.it-button.it-button-fit {
    width: 100%;
}

.it-button.it-button-small {
    height: calc(var(--height) * 0.9);
    line-height: calc(var(--height) * 0.9);
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

.it-button.it-button-large {
    height: calc(var(--height) * 1.2);
    line-height: calc(var(--height) * 1.2);
    padding: 0 2.5rem;
    font-size: 1.7rem;
}

.it-button.it-button-disabled,
.it-button:disabled {
    pointer-events: none;
    opacity: 0.4;
}

.it-button {
    color: var(--color-primary) !important;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--color-primary);
}

.it-button:hover {
    text-decoration: none;
    color: color(var(--color-primary) l(-15%)) !important;
    box-shadow: inset 0 0 0 2px color(var(--color-primary) l(-10%));
    transition: 0.2s ease;
}

.it-button.it-button-primary {
    color: #fff !important;
    background-color: var(--color-primary);
    box-shadow: none;
}

.it-button.it-button-primary:hover {
    opacity: .9;
}

.it-button.it-button-secondary {
    color: #fff !important;
    background-color: var(--color-success);
    box-shadow: none;
}

.it-button.it-button-secondary:hover {
    background-color: color(var(--color-success) l(-10%));
}

.it-button.it-button-danger {
    color: #fff !important;
    background-color: var(--color-danger);
    box-shadow: none;
}

.it-button.it-button-danger:hover {
    background-color: color(var(--color-danger) l(-10%));
}

