.it-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #fff;
}
.it-search-close svg {
    width: 4.8rem;
    background: #f5f6f8;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 1rem;
    border-radius: 50%;
}

