

/* Content grid
/* ---------------------------------------------------------- */

.it-canvas, .kg-width-full.kg-content-wide {
    --gap: 4vw;
    --main: min(var(--content-width, 720px), 100% - var(--gap) * 2);
    --wide: minmax(0, calc((var(--container-width, 1200px) - var(--content-width, 720px)) / 2));
    --full: minmax(var(--gap), 1fr);

    display: grid;
    grid-template-columns:
        [full-start] var(--full)
        [wide-start] var(--wide)
        [main-start] var(--main) [main-end]
        var(--wide) [wide-end]
        var(--full) [full-end];
}

.it-canvas > * {
    grid-column: main-start / main-end;
}

.kg-width-wide {
    grid-column: wide-start / wide-end;
}

.kg-width-full {
    grid-column: full-start / full-end;
}

.kg-width-full img {
    width: 100%;
}
.kg-width-wide,
.kg-content-wide > div {
    grid-column: wide-start / wide-end;
}

/* Remove space between full-width cards */
 .it-canvas > .kg-width-full + .kg-width-full:not(.kg-width-full.kg-card-hascaption + .kg-width-full) {
    margin-top: 0;
} 


/* Content & Typography
/* ---------------------------------------------------------- */

.it-content > * + * {
    margin-top: 4vmin;
}

.it-content > [id] + * {
    margin-top: 1.5rem;
}

.it-content [id]:not(:first-child) {
    margin: 1.5em 0 0;
}

.it-content [id] + .kg-card,
.it-content blockquote + .kg-card {
    margin-top: 6vmin;
}

.it-canvas > blockquote,
.it-canvas > ol,
.it-canvas > ul,
.it-canvas > dl,
.it-canvas > p {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.6em;
}

.it-content > ul,
.it-content > ol,
.it-content > dl {
    padding-left: 1.9em;
}

.it-content hr {
    margin-top: 6vmin;
}

.it-content hr + * {
    margin-top: 6vmin !important;
}

.it-content blockquote {
    position: relative;
    font-style: italic;
    background: var(--color-bg);
    padding: 2em;
}

.it-content blockquote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.3rem;
    background: var(--color-primary);
}
.it-content blockquote.kg-blockquote-alt {
    font-size: 3rem;
    color: #666;
    text-align: center;
}
.it-content blockquote.kg-blockquote-alt:before {
    display: none;
}

@media (max-width: 650px) {
    .it-canvas blockquote,
    .it-canvas ol,
    .it-canvas ul,
    .it-canvas dl,
    .it-canvas p {
        font-size: 1.8rem;
    }
}


/* Cards
/* ---------------------------------------------------------- */

:not(.kg-card):not([id]) + .kg-card {
    margin-top: 6vmin;
}

.kg-card + :not(.kg-card):not([id]) {
    margin-top: 6vmin;
}

.kg-card figcaption {
    padding: 1.5rem 1.5rem 0;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.4em;
}

.kg-card figcaption strong {
    color: rgba(0,0,0,0.8);
}

.it-canvas :not(pre) code {
    vertical-align: middle;
    padding: 0.15em 0.4em 0.15em;
    border: #e1eaef 1px solid;
    font-weight: 400 !important;
    font-size: 0.9em;
    line-height: 1em;
    color: #dc0050;
    background: #f0f6f9;
    border-radius: 0.25em;
}

.it-canvas > pre {
    overflow: scroll;
    padding: 16px 20px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.4);
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.kg-embed-card iframe {
    width: 100% !important;
}

.kg-image-card img {
    margin: auto;
}


/* Galleries
/* ---------------------------------------------------------- */

.kg-gallery-card + .kg-gallery-card {
    margin-top: 0.75em;
}

.kg-gallery-container {
    position: relative;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}


/* Bookmark Cards
/* ---------------------------------------------------------- */

.kg-bookmark-card,
.kg-bookmark-publisher {
    position: relative;
}

.kg-bookmark-container,
.kg-bookmark-container:hover {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color: currentColor;
    background: rgba(255,255,255,0.6);
    font-family: var(--font-sans-serif);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    padding: 20px;
    order: 1;
    background: var(--color-bg);
}

.kg-bookmark-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.3em;
}

.kg-bookmark-description {
    display: -webkit-box;
    max-height: 45px;
    margin: 0.5em 0 0 0;
    font-size: 1.4rem;
    line-height: 1.55em;
    overflow: hidden;
    opacity: 0.8;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.kg-bookmark-metadata {
    margin-top: 20px;
}

.kg-bookmark-metadata {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kg-bookmark-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.kg-bookmark-thumbnail {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
    justify-content: flex-end;
}

.kg-bookmark-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 10px;
}


/* Card captions
/* ---------------------------------------------------------- */

.kg-width-full.kg-card-hascaption {
    display: grid;
    grid-template-columns: inherit;
}

.kg-width-wide.kg-card-hascaption img {
    grid-column: wide-start / wide-end;
}
.kg-width-full.kg-card-hascaption img {
    grid-column: 1 / -1;
}

.kg-width-full.kg-card-hascaption figcaption {
    grid-column: main-start / main-end;
}



.kg-embed-card > :where(iframe[src*="youtube.com"],iframe[src*="vimeo.com"]) {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}



/* Tables
/* ---------------------------------------------------------- */

.it-content table {
    border-collapse: collapse;
    width: 100%;
}

.it-content th {
    padding: 0.5em 0.8em;
    text-align: left;
    font-size: .75em;
    text-transform: uppercase;
}

.it-content td {
    padding: 0.4em 0.7em;
}

.it-content tbody tr:nth-child(2n + 1) {
    background-color: rgba(0,0,0,0.1);
    padding: 1px;
}

.it-content tbody tr:nth-child(2n + 2) td:last-child {
    box-shadow:
        inset 1px 0 rgba(0,0,0,0.1),
        inset -1px 0 rgba(0,0,0,0.1);
}

.it-content tbody tr:nth-child(2n + 2) td {
    box-shadow: inset 1px 0 rgba(0,0,0,0.1);
}

.it-content tbody tr:last-child {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
