/* Three column 
/***************************************************/
.it-grid-c3 {
	display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media (max-width: 767px) {
  .it-grid-c3 {
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 1023px) and (min-width:768px){
  .it-grid-c3 {
    grid-template-columns: repeat(2,1fr);
  }
}